header {
    position: relative;
    height: 100dvh;
}

nav {
    position: fixed;
    background-color: #333333;
    width: 100%;
    z-index: 999;
}

nav .content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 5px;
}

nav .logo {
    width: 54px;
    height: 54px;
}

nav .logo img {
    width: 100%;
    height: auto;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    letter-spacing: 1.5px;
    font-weight: 500;
    font-size: 15px;
    transition-duration: .5s;
}

nav ul li:nth-of-type(1) a {
    color: var(--primary-color);
}

nav ul li a:hover {
    color: var(--primary-color);
}

nav ul li a::after {
    content: '';
    position: absolute;
    display: block;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: var(--primary-color);
    transition-duration: .5s;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
}

nav ul li a.active::after {
    width: 100%;
    left: 0;
}

nav .btn-links {
    display: none;
}

.hero {
    width: 100%;
    height: 100%;
    background-image: url(../images/slider-01-cd8154e4.jpg);
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: #fff;
    text-align: center;
}

.hero .content h1 {
    font-weight: 600;
    margin: 10px 0;
    font-size: 80px;
    color: var(--primary-color);
    letter-spacing: 1.5px;
}

.hero .content h4 {
    font-weight: 400;
    margin: 10px 0;
    font-size: 30px;
}

.hero .content p {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    font-weight: 400;
    margin: 10px 0;
    font-size: 20px;
}

.hero .content p::before {
    content: 'Designer |';
    display: block;
    position: relative;
    right: -5px;
    animation: writing 2s linear infinite alternate;
}

@keyframes writing {
    0% {
        content: " |";
    }

    10% {
        content: " |";
    }

    20% {
        content: " |";
    }

    30% {
        content: "De |";
    }

    40% {
        content: "Des |";
    }

    50% {
        content: "Desig |";
    }

    60% {
        content: "Design |";
    }

    70% {
        content: "Designe |";
    }

    80% {
        content: "Designer |";
    }

    90% {
        content: "Designer |";
    }

    100% {
        content: "Designer |";
    }
}

header .scroll {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 60px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    background-color: transparent;
}

header .scroll .scroll-ball {
    position: relative;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    overflow: hidden;
}

header .scroll .scroll-ball .ball {
    position: absolute;
    left: 50%;
    top: -15px;
    opacity: 1;
    transform: translateX(-50%);
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition-duration: 2s;
    animation: ball 2s linear .3s infinite;
}

@keyframes ball {
    0% {
        opacity: 1;
        top: -15px;
    }
    50%{
        top: 25px;
        opacity: 1;
    }
    
    100% {
        top: 25px;
        opacity: 0;
    }
}