header {
    position: relative;
    height: 100dvh;
}

/** Navbar section */
nav {
    position: fixed;
    background-color: #333333;
    width: 100%;
    z-index: 999;
}

nav .content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 5px;
}

nav .logo {
    width: 54px;
    height: 54px;
}

nav .logo img {
    width: 100%;
    height: auto;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    letter-spacing: 1.5px;
    font-weight: 500;
    font-size: 15px;
    transition-duration: .5s;
}

nav ul li:nth-of-type(1) a {
    color: var(--primary-color);
}

nav ul li a:hover {
    color: var(--primary-color);
}

nav ul li a::after {
    content: '';
    position: absolute;
    display: block;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: var(--primary-color);
    transition-duration: .5s;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
}

nav ul li a.active::after {
    width: 100%;
    left: 0;
}

nav .btn-links {
    display: none;
}

/** Hero section */

.hero {
    width: 100%;
    height: 100%;
    background-image: url(../images/slider-01-cd8154e4.jpg);
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: #fff;
    text-align: center;
}

.hero .content h1 {
    font-weight: 600;
    margin: 10px 0;
    font-size: 80px;
    /* font-size: clamp(min , average , max ); */
    font-size: clamp(5rem, 4vw, 10rem);
    color: var(--primary-color);
    letter-spacing: 1.5px;
}

.hero .content h4 {
    font-weight: 400;
    margin: 10px 0;
    font-size: 30px;
}

.hero .content p {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    font-weight: 400;
    margin: 10px 0;
    font-size: 20px;
}

.hero .content p::before {
    content: 'Designer |';
    display: block;
    position: relative;
    right: -5px;
    animation: writing 2s linear infinite alternate;
}

@keyframes writing {
    0% {
        content: " |";
    }

    10% {
        content: " |";
    }

    20% {
        content: " |";
    }

    30% {
        content: "De |";
    }

    40% {
        content: "Des |";
    }

    50% {
        content: "Desig |";
    }

    60% {
        content: "Design |";
    }

    70% {
        content: "Designe |";
    }

    80% {
        content: "Designer |";
    }

    90% {
        content: "Designer |";
    }

    100% {
        content: "Designer |";
    }
}

header .scroll {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 60px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    background-color: transparent;
    overflow: hidden;
}

header .scroll::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: -15px;
    opacity: 1;
    transform: translateX(-50%);
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition-duration: 2s;
    animation: ball 2s linear .3s infinite;
}

@keyframes ball {
    0% {
        opacity: 1;
        top: -15px;
    }

    50% {
        top: 25px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}

/** About Section */

#About .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*^ About image */

#About .container .left-part {
    margin: 0px auto;
}

#About .container .frame {
    position: relative;
    margin: auto;
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    width: 90%;
}

#About .container .img-content {
    position: relative;
    top: 20px;
    left: 15px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

#About .container .img-content img {
    width: 100%;
    border-radius: 10px;
}

#About .container .img-content .layout {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    border-radius: 10px;
    transition-duration: 1s;
}

#About .container .img-content:hover .layout {
    top: 0;
}

#About .container .img-content .layout ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

#About .container .img-content .layout ul li {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -20px;
    opacity: 0;
    transition-duration: 1s;
    transition-delay: 1s;
}

#About .container .img-content .layout ul li:nth-of-type(2) {
    transition-delay: 1.20s;
}

#About .container .img-content .layout ul li:nth-of-type(3) {
    transition-delay: 1.40s;
}

#About .container .img-content .layout ul li:nth-of-type(4) {
    transition-delay: 1.60s;
}

#About .container .img-content:hover .layout ul li {
    opacity: 1;
    top: 0;
}

#About .container .img-content .layout ul li:nth-of-type(1) i {
    color: #1877f2;
}

#About .container .img-content .layout ul li:nth-of-type(2) i {
    color: #e4405f;
}

#About .container .img-content .layout ul li:nth-of-type(3) i {
    color: #1da1f2;
}

#About .container .img-content .layout ul li:nth-of-type(4) i {
    color: #1b1f23;
}


/*^ About content */
#About .container .content {
    width: 50%;
}

#About .container .content h2 {
    font-size: 30px;
    font-weight: 600;
    padding-inline: 10px;
    border-left: 4px solid var(--primary-color);
}

#About .container .content>p {
    padding-block: 20px;
    line-height: 1.5;
    color: var(--paragraph-color);
    border-bottom: 1px dashed #fff;
}

/* #About .container .content hr{
    margin-bottom:20px;
    border: 0;
    border-bottom: 1px dashed #fff;
} */

#About .content .about-me {
    padding-block: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 15px;
    width: 100%;
}

#About .content .about-me .info {
    display: flex;
    gap: 5px;
    font-size: 16px;
    font-weight: 500;
}

#About .content .about-me .info p {
    color: var(--paragraph-color);
}

#About .content button {
    padding: 15px 20px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 10px;
    margin-right: 10px;
    transition-duration: .5s;
    cursor: pointer;
}

#About .content button:hover {
    background-color: var(--primary-color);
}

#About .content button:hover a {
    color: #fff;
}

#About .content button a {
    color: var(--primary-color);
    transition-duration: .5s;
}