/* 350 */
@media (max-width: 1300px) {
    .container {
        width: 90%;
    }

    /* nav links */
    nav .btn-links {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 50px;
        height: 40px;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        background-color: transparent;
        cursor: pointer;
        z-index: 999;
    }

    nav .btn-links span {
        width: 25px;
        height: 2px;
        background-color: var(--primary-color);
    }

    nav .nav-links {
        position: absolute;
        left: 50%;
        top: 70px;
        transform: translateX(-50%);
        width: 100%;
        background-color: #333;
        border-radius: 10px;
        padding: 0;
        height: 0%;
        overflow: hidden;
        transition-duration: 1s
    }

    nav .content button:focus+.nav-links {
        height: 210px;
        padding-block: 10px;
    }

    nav .nav-links ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    /* hero section */

    .hero .content h1 {
        font-size: 40px;
    }

    .hero .content h4 {
        font-size: 28px;
    }

    .hero .content p {
        font-size: 18px;
    }

    /* About section */
    #About .container {
        gap: 50px;
    }

    #About .container .content {
        width: 100%;
    }

    #About .container .img-content .layout ul li {
        width: 30px;
        height: 30px;
    }

    #About .container .frame {
        width: 75%;
    }

    #About .container .content p {
        font-size: 14px;
    }

    #About .content .about-me {
        grid-template-columns: 1fr;
    }

    #About .content .about-me .info {
        font-size: 14px;
    }

    #About .content button {
        padding: 10px 15px;
    }

    /* Services section */
    #Services .container .box {
        width: 100%;
    }

    /* Our Portfolio Section */
    #Portfolio .projects .card {
        width: calc((100%) - 20px);
        max-width: 280px;
        margin: auto;
    }

    /* Blog Section */
    #Blog .blog-content .box {
        width: 100%;
        margin-bottom: 25px;
    }

    #Blog .blog-content .box .item {
        width: 280px;
    }

    /* Contact Us section */
    #Contact .container form {
        width: 100%;
    }

    #Contact .container form .name-email {
        flex-direction: column;
        gap: 15px;
    }

    #Contact .container form button {
        width: initial;
    }

    /* Footer section */

    footer p {
        font-size: 12px;
    }
}

/* 450 */
@media (min-width: 371px) and (max-width: 1300px) {

    /* hero content */

    .hero .content h4 {
        font-size: 24px;
    }

    .hero .content p {
        font-size: 16px;
    }

    /* About section */
    #About .content .about-me {
        grid-template-columns: 1fr 1fr;
    }

    /* Contact Us section */
    #Contact .container form {
        width: 300px;
    }

}

/* 650 */
@media (min-width: 577px) and (max-width: 1300px) {

    /* hero content */
    .hero .content h1 {
        font-size: 50px;
    }

    /* Services section */
    #Services .container .box {
        gap: 20px;
        width: 44%;
        min-width: 250px;
    }

    /* Our Portfolio Section */
    #Portfolio .projects .card {
        width: calc((100% / 2) - 10px);
        max-width: 280px;
        margin: auto;
    }

    /** Blog Section */
    #Blog .blog-content .box {
        width: 50%;
    }

}

/* 850 */
@media (min-width: 769px) and (max-width: 1300px) {

    /* About section */
    #About .container {
        gap: 0px;
    }

    #About .container .content {
        width: 50%;
    }

    #About .container .frame {
        width: 75%;
    }

    #About .container .content p {
        font-size: 14px;
    }

    #About .content .about-me .info {
        font-size: 14px;
    }

    #About .content button {
        padding: 10px 15px;
    }

    /** Contact Us section */
    #Contact .container form {
        width: 70%;
    }

    #Contact .container form .name-email {
        gap: 10px;
        flex-direction: row;
    }

}

/* 1050 */
@media (min-width: 992px) and (max-width: 1300px) {

    #Services .container .box {
        width: 20%;
    }

    /** Blog Section */
    #Blog .blog-content .box {
        width: 33.33%;
    }
}

/* 1250 */
@media (min-width: 1181px) and (max-width: 1300px) {}